/* COLORES
Twitter default     #1DA1F2
Bkg color           #e6ecf0
*/

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #e6ecf0;
}

main {
    background-color: #fff;
    width: 590px;
    margin: 55px auto 0;
    float: left;
}

nav ul {
    list-style: none;
}

nav ul li {
    font-size: .8em;
    font-weight: 600;
    display: inline-block;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

/* Estilos header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    background-color: #fff;
    box-shadow: 2px 0px 2px #6f7d86;
    font-weight: 900;
}

header nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

header nav ul li a {
    float: left;
    line-height: 47px;
    padding: 0 5px;
    text-decoration: none;
    color: #6f7d86;
    border-bottom: 3px solid transparent;
}

.logo {
    width: 35px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(50% - 17.5px);
}

.logo img {
    width: 100%;
}

.menu {
    left: 3%;
}

.menu ul li a:hover {
    border-bottom: 3px solid #1DA1F2;
    color: #1DA1F2;
}

.extra {
    right: 3%;
}

.search-box input {
    border: .5px solid #6f7d86;
    border-radius: 20px;
    height: 30px;
    background-color: #f5f8fa;
    font-size: .75em;
    padding: 0 15px;
    align-content: top;
}

.search-box input:focus {
    outline: none;
    border: 2px solid #1DA1F2;
    background: #fff;
    color: #b4bec5;
}

/* Info de usuario */
#user-info {
    float: left;
    width: 280px;
    height: 200px;
    background-color: #fff;
    margin: 55px 15px 0;
}

/* Caja nuevo Tweet */
#new-tweet-box {
    padding: 15px;
    overflow: auto;
    background-color: #EAF6FD;
    border-bottom: 1px solid #e6ecf0;
}

textarea {
    border-radius: 10px;
    border: .5px solid #83CBF7;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    display: block;
    resize: none;
    overflow: hidden;
    transition-duration: .25s;
    height: 2.75em;
}

textarea:focus{
    outline: none;
}

.expand-box {
    height: 3.75em;
}

#tweet-btn {
    height: 30px;
    background-color: #1DA1F2;
    color: #fff;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    padding: 0 15px;
    font-weight: 900;
    cursor: pointer;
    float: right;
}

#tweet-btn:focus {
    outline: none;
}

#tweet-btn:hover {
    background-color: #1B93DC;
}

#tweet-btn:disabled {
    background-color: #98D4F9;
    cursor: not-allowed;
}

#tweet-btn:disabled:hover {
    background-color: #98D4F9;
}

#total-char {
    float: left;
    font-weight: 600;
    color: #6f7d86;
    margin: 15px 0;
}

/* Estilos newsfeed */
#newsfeed {
    background-color: #fff;
    height: -webkit-fill-available;
}

#newsfeed div {
    padding: 15px;
    font-size: .8em;
    border-bottom: 1px solid #e6ecf0;
}

.time {
    color: #6f7d86;
    font-size: .9em;
    margin-top: 5px;
}